/********** Universal Styles **********/ 
* {
    box-sizing: border-box;
}

html {
    font-family: Helvetica, sans-serif;
    font-size: 22px;
    color: seashell;
    background-color: black;
    text-align: center;
}


/******** Header Styles ***********/
header {
    width: 100%;
    position: fixed;
    left: -1px;
    top: 0px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid seashell;
    padding-top: 6.5px;
    padding-bottom: 6.5px;
    z-index: 2;
    background-color: black;
}

figure {
    text-align: left;
    height: auto;
    margin: 0 0 0 10px;
}

img {
    height: 50px;
}

/******** Navigation Styles ***********/
nav {
    display: flex;
    justify-content: space-between;
}


nav a {
    margin-left: 30px;
    color: seashell;
}

/******** Main Styles ***********/

main {
    position: relative;
    top: 62px;
}

/******** Section Styles ***********/

/* MISSION */

#mission {
    background-image: url('/resources/images/img-mission-background.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0 auto;
    width: 85%;
    height: 700px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 50px;
}

.banner {
    background-color: black;
    width: 100%;
}
.banner h2 {
    margin-top: 15px;
    margin-bottom: 0;
}

.banner h4 {
    margin-bottom: 15px;
}


/* MENU */

#featured-tea {
    width: 1000px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}

.menu {
    display: inline-flex;
    flex-wrap: wrap;
    justify-content: center;
}

.menu-item {
    width: 300px;
    height: 200px;
    text-align: center;
    margin-right: 30px;
    margin-left: 0;
    margin-bottom: 100px;
}

.menu-item img {
    width: 100%;
    height: auto;
}

.menu-item h4 {
    margin-top: 10px;
}

/* LOCATION */

#location {
    background-image: url('/resources/images/img-locations-background.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 85%;
    height: 500px;
    margin: 0 auto;
}

.container {
    display: flex;
    flex-direction: column;
    padding: 5px 0 0;
}

#address {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;

}

.box {
    width: 300px;
    background-color: black;
    opacity: 1;
}

.address-2 {
    margin-left: 40px;
    margin-right: 40px;
}

/* CONTACT */

#contact {
    height: 190px;
}

#contact a {
    text-decoration: none;
    color: seashell;
}

#contact h2 {
    margin-top: 10px;
}

/******** Footer Styles ***********/

footer {
    text-align: left;
    margin-top: 50px;
    margin-left: 20px;
}